*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.content{
  overflow-x: hidden;
}

.box-external-tablero{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-tablero-lateral{
  /*margin: 0px;*/
  /*padding: 0px;*/
  height: 85vh;
  overflow-y: auto;
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:solid 1px black;
}

.box-tablero-lateral div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.5vh;
  width: 110%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-bottom:solid 1px black;
}

.box-tablero-lateral ul{
  height: 76.5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-tablero-lateral ul::-webkit-scrollbar{
  display: none;
}


.box-tablero-lateral ul li{
  min-height:30px;
  overflow: hidden;
  list-style: none;
  padding:0px;
  margin:0px;
  display: flex;
  width:100%;
}

.box-tablero-lateral ul li span{
  text-align: center;
}

.box-nav-bar{
  border-bottom:solid 1px black;
  background-color:#946e2b;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-nav-bar button{
  margin: 0px;
  border:solid 1px black;
}

.box-tablero{
  content: "";
  height: 520px;
  width: 520px;
  border: 1px black solid;
}

.casilla{
  content: "";
  height: 12.5%;
  width: 12.5%;
  border: 1px black solid;
  background-color: rgb(158, 209, 17);
}

.pintado{
  background-color: rgb(174, 0, 255);
}

.piesaNegra{
    content: "";
    color: black;
}

.piesaBlanca{
    content: "";
    color: white;
}

.girado{
  transform: rotate(180deg);
}

.seleccionado{
  background-color: rgb(255, 0, 0);
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-coronado{
  transition: all 1000ms;
  display: flex;
  z-index: 10;
  height: 20vh;
  width: 80vw;
  background-color: rgb(155, 105, 48);
  color: white;
  border:solid 2px white;
}

.box-coronado div{
  transition: all 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

.box-coronado div:hover{
  transform: scale(1.6);
  cursor: pointer;
}